.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#C08261;
    padding: 0.2% 2%;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
}

.navbar-brand {
    color: #7D0A0A !important;
    font-size: 1.3vw;
    line-height: 2;
}

.navbar-toggler-icon {
    font-size: 1vw;
    color: #000;
}

.navbar-toggler {
    border: none;
}

.navbar-nav .nav-link.btn {
    color: #7D0A0A;
    background-color: transparent;
    border: 2px solid #7D0A0A;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
    padding: 1% 5%;
}

.navbar-nav .nav-link.btn:hover {
    color: #B80000;
    border-color: #B80000;
}

.navbar-brand:hover {
    color: #dba80f;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ececec;
    min-height: 100vh; /* Ensure the body takes up at least the height of the viewport */
    margin: 10% auto 5%;
    padding: 0;
}

.container-fluid {
    width: 100%;
     padding: 20px;
    
     
 }

/* Footer styles */
footer {
    background-color: #7D0A0A;
    color: #ffd4a1;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Additional styles for specific elements can be added here */
