:root {
    --red: #ff0a00;
    --white: #fff;
    --max-width: 1200px;
    --gradient-color:linear-gradient(90deg, #ffffff 0%, #ff5852 100%);
    --shadow-color: 0 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0, 10px, 30px rgb(57, 56, 61);
}

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    float:none;
    position:static;
    z-index:auto;
    line-height: normal;
}

h1,h2,h3,h4,h5,p {
    color: var(--red);
    
}

html,
body {
    width: 100%;
   
   
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .calendar-container {
    flex: 1; /* This makes the calendar container flexible, occupying remaining space */
  }

/* Styling container */
.container-fluid {
    padding: 0; 
}
/* Header container */
.header-container {
    background-color: #6f00ee;
}
/* Page content row */
.page-content-row {
    display: flex;
    padding-right: 1rem;
    margin-bottom:1rem;
    
}

.empty-col {
    width: 20%;
}

.content-col {
    width: 80%; /* Adjust as needed */
    padding: 0 4rem; /* Adjust as needed */
    padding-left: 0; 
    height: 100%;    
    overflow-y:auto ;    
}
/* Page content container */
.page-content-container {
    padding: 1rem;
    padding-top: 0;    
}
/*------- Footer--------- */
#footer {
    text-align: center;
    background-color: var(--red);
    padding: 2rem; 
    color: var(--white);
   
  
}



.navbar {    
    background-color: var(--red);
    padding: 1rem;
   
}
.nav-link {
    font: normal 500 18px "Roboto Mono", cursive;
    text-transform: uppercase;   
    color: var(--white);
}

.navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



/*--------Style for InputFields:-----------*/ 
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 1%;
}
.row{
    margin-top: 3rem;
    background-color: #000000;
    border-radius: 20px;
    padding: 0.75rem;
}
/*--------Style for Title:-----------*/
.title{
    border-top:1px solid red;
    border-bottom:1px solid red;
    color: rgb(255, 255, 255);
    border-radius: 5px; 
    padding: 1%;
    text-align: center;
    margin: 1rem 0;
    
  }
/*--------Style for Containers:-----------*/
.calendar-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-right: 1px solid #ff0800d2; 
  }

.main-content-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    color:white;
          
}
.full-width-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left; 
  
}
/*--------Style for Images:-----------*/
.circle-image-container{
    padding: 1%; 
    width: 100%; /* Adjust width to fit within the container */
    max-width: 350px; /* Limit maximum width for responsiveness */
    margin: 0 auto;
}
.circle-image-container img {
    background-color: #e0e0e0;
    width: 90%;
    border-radius: 80%;
    border-bottom: 10px solid #ee0000d2; /* Set border */
    
}
.border-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid red;
}
.border-image-container img{
    width: auto;
    height: 100%;
   
}



.fc .fc-view-harness{
  
    height: 500px !important;
}


/*--------Style for Cards:-----------*/
.card {
    background-color:black;
    padding: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.custom-card label {
    color: #fff; 
    font-weight: bold;
    padding: 1%;
}

.custom-card .form-group {
    margin-bottom: 20px; /* Add some spacing between form groups */
} 
/*--------Style for Buttons:-----------*/
.button {
    display: block;
    width: 50%; /* Set button width to 50% */
    margin: 1rem auto; /* Center button horizontally with top and bottom margin */
    padding:0.5rem 1.2rem ; /* Increase padding */
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 0.5rem; /* Equivalent to 5px for 1200px width */
    cursor: pointer;
    font: normal 400 18px "Roboto Mono", cursive;
    text-align: center;
    text-decoration: none;
}

button:hover {
  
    background-color: rgb(255, 69, 69);
    color: #dbdada;
}

/*--------Style for Datepicker:-----------*/
.ui-datepicker-header {
    background-color: #ff0000; 
    color: #fff; 
   
}
.ui-datepicker-prev, .ui-datepicker-next {
    background-color: transparent; 
    color: #fff; 
    border-color: #b90a04;
    
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    background-color: #c90000;
    border-color: #770502;
 
}
.ui-datepicker-calendar  {
    background-color:#000000; 
    color: #ffffff; 

}
.ui-datepicker th {
    border-bottom: 1px solid rgb(0, 0, 0); 
}
.ui-datepicker td {
    border: 1px solid rgb(0, 0, 0); 
    background-color: transparent;
    color:white;
  }
  
  /* Style for td elements with links (dates) */
  .ui-datepicker td a {
    text-decoration: none; 
    color: inherit; /* Inherit text color from parent */
  }
   /* Style for td box elements(dates) */
  .ui-state-default,
  .ui-widget-content .ui-state-default{
    border: 1px solid #a0303000;
    background: red;
    font-weight: normal;
    color: #f7f7f7;
}
  /* Style for td elements with links on hover (dates) */
  .ui-datepicker td a:hover {
    background-color: #78bd8080;
    text-decoration: underline; /* Underline on hover */
  }
/*-------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 1350px) and (max-width: 1750px) {
    .container {
        width:auto
    }
}
@media (min-width: 950px) and (max-width: 1350px) {
    .container {
        width:auto
    }
}
@media  (min-width: 650px) and (max-width: 950px) {
    .container {
        width:auto
   
    }
}