* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  
h1,h2,h3,h4,h5,p{
    color:#ffffff;
    font-family: "Roboto Mono", monospace;
   
    
    
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#ff0a00;
    padding: 1% 2%;
    z-index: 1000; 
    margin: 0 auto;
    
}

.navbar-brand  {
    color: #ffffff ;
    font-size: 1.3vw;
    line-height: 2;
}
.navbar-brand:hover {
    color: #ebebeb96;
}

.navbar-toggler-icon {
    font-size: 1vw;
    color: #000;
}

.navbar-toggler {
    border: none;
}

.horizontal-nav-link {
    color: #ffffff;
    background-color: transparent;    
    font-size: 20px;
    cursor: pointer;
    padding: 1% 5%;
}

.horizontal-nav-link:hover {
    color: #ebebeb;
    background-color: none;
    
}



/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    
}




/* Footer styles */
footer {
    background-color:#ff0a00;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Additional styles for specific elements can be added here */
