.calendar-container {
 
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar {
  width: 100%; /* Make the width bigger */
  height: 50vh; /* Make the height smaller */
  border: 1px solid #fd0303;
  border-radius: 1px;
  padding: 1rem;
  background-color: #fffffffd;
  overflow-y: auto;
}

/* Header toolbar */
.fc-header-toolbar {
  background-color: transparent;
  color: #ff0a00;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

/* Title */
.fc-toolbar-title {
  color: #ff0a00;
  font-family: "Roboto Mono", monospace;
}

/* Navigation buttons */
.btn-group {
  background-color: #ff0a00;
  border-color: #ff0a00;
  color: #ffffff;
}

.btn-group .btn:not(:last-child):not(.dropdown-toggle) {
  background-color: #ff0a00;
  border-color: #ff0a00;
  color: #ffffff;
}

.btn-primary {
  background-color: #ff0a00;
  border-color: #ff0a00;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #ff0a00;
  border-color: #ff0a00;
  color: #ffffff;
}

.btn-primary:disabled {
  background-color: #ff0a00;
  border-color: #ff0a00;
  color: #ffffff;
}
.btn-primary:disabled:hover {
  background-color: #ff0a00;
  border-color: #ff0a00;
  color: #ffffff;
}

/* Month/Week/List buttons */
.fc .fc-button-primary:not(:disabled).fc-button {
  background-color: #ff0a00;
  border-color: #ff0a00;
  color: #ffffff;
}
.fc .fc-button-primary:not(:disabled).fc-button:hover {
  background-color: #ff0a00;
  border-color: #ff0a00;
  color: #ffffff;
}

/* Calendar's Events */
.fc-list-item-title {
  font: normal 500 10px "Roboto Mono", cursive;
  color: #035c1e;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2px;
}

/* Thin scrollbar */
.fc-list-item-title::-webkit-scrollbar {
  width: 1px; /* Adjust as needed */
}

/* Track */
.fc-list-item-title::-webkit-scrollbar-track {
  background: transparent; /* Or any color you prefer */
}

/* Handle */
.fc-list-item-title::-webkit-scrollbar-thumb {
  background: transparent; /* Color of the scrollbar thumb */
  border: none; /* Roundness of the scrollbar thumb */
}

/* Handle on hover */
.fc-list-item-title::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Hover color of the scrollbar thumb */
}

/* Thin scrollbar */
.fc-list-item-title {
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: transparent;
}

/* Track */
.fc-list-item-title::-webkit-scrollbar-track {
  background: #000000; /* Or any color you prefer */
}

/* For the Links in Dates */
.fc-col-header-cell a,
.fc-daygrid-day-frame .fc-daygrid-day-number {
  color: #000000;
  text-decoration: none;
}

/* Border vertical and horizontal */
.fc-scrollgrid-section,
.fc-scrollgrid-sync-table td {
  border: 1px solid #ff0a00; /* Example color */
}

.fc-list-item-time {
  color: #666;
}

.fc-list-event-time {
  color: #666;
}

/* Styles for Greek holidays */
.greek-holiday {
  background-color: #f0f0f0; /* Light gray background */
  border-color: #ff0000; /* Red border */
  color: #000000; /* Black text */
  
  width:50%;}

/* Styles for Islamic holidays */
.islamic-holiday {
  background-color: #ffffcc; /* Light yellow background */
  border-color: #008000; /* Green border */
  color: #000000; /* Black text */
  
  width:50%;
}




/* Styles for Greek holidays */
.greek-holiday {
  background-color: #f0f0f0; /* Light gray background */
  border-color: #ff0000; /* Red border */
  color: #000000; /* Black text */
}

/* Styles for Islamic holidays */
.islamic-holiday {
  background-color: #ffffcc; /* Light yellow background */
  border-color: #008000; /* Green border */
  color: #000000; /* Black text */
}


/* Media query for small devices */
@media (min-width: 650px) and (max-width: 950px) {
  .fc-scrollgrid-section,
  .fc-scrollgrid-sync-table td {
    border-width: 0.5px;
  }
  #calendar {
    overflow-y: auto;
    max-height: 300px;
  }
  #calendar tbody {
    height: auto;
    overflow: auto;
  }
  .fc .fc-button-primary:not(:disabled).fc-button {
    font-size: 12px;
    padding: 5%;
  }
  /* Adjustments for navigation buttons */
  .fc .fc-button-primary {
    font-size: 10px;
    padding: 5px 10px;
  }
}

/* Media query for medium-sized devices */
@media (min-width: 950px) and (max-width: 1350px) {
  .fc-scrollgrid-section,
  .fc-scrollgrid-sync-table td {
    border-width: 0.5px;
  }
  #calendar {
    overflow-y: auto;
    max-height: 300px;
  }
  #calendar tbody {
    height: auto;
    overflow: auto;
  }
  .fc .fc-button-primary:not(:disabled).fc-button {
    font-size: 12px;
    padding: 10%;
  }
}

