#calendar {
  border: 1px solid #fcfcfc;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
  width:700px;
  
}

/* Style for the header toolbar */
.fc-header-toolbar {
  background-color: #c08261;
  color: #ccc;
}

/* Change the background color of the navigation buttons */
.fc .fc-button-primary {
    background-color: #e2c799;
    border-color:#c08261;
    color:#c08261;
}
.fc .fc-button-primary:disabled{
  background-color: #bd4848cb;
    border-color:#e2c799;
    color:#e2c799

}

/* for  the view buttons */
.fc .fc-button-primary:not(:disabled).fc-button {
  background-color: #e2c799;
  border-color:#c08261;
  color:#c08261;
}



/* Change the background color of the toolbar title */
.fc-toolbar-title {
    color: #fff;
}
/*for the links in dates*/
.fc-col-header-cell a,
.fc-daygrid-day-frame .fc-daygrid-day-number{
  color:#c08261;
  text-decoration:none;
}