#calendar {
  border: 1px solid #990000;
  border-radius: 1px;
  padding:10px; 
  background-color: #ffffff;

  
}

/* Style for the header toolbar */
.fc-header-toolbar {
  background-color: #ffffff;
  color: #ff0a00;
 
}
.fc-toolbar-title {
  color: #ff0a00;
  font-family: "Roboto Mono", monospace;
}

/* Change the background color of the navigation buttons */
.fc .fc-button-primary {
    background-color: #ff0a00;
    border-color:#ff0a00;
    color:#ffffff;
}
.fc .fc-button-primary:disabled{
  background-color: #ff0a00;
  border-color:#ff0a00;
  color:#ffffff;

}

/* for  the view buttons */
.fc .fc-button-primary:not(:disabled).fc-button {
  background-color: #ff0a00;
    border-color:#ff0a00;
    color:#ffffff;
}

/*for the links in dates*/
.fc-col-header-cell a,
.fc-daygrid-day-frame .fc-daygrid-day-number{
  color:#000000;
  text-decoration:none;
  
}