#calendar {
  border: 1px solid #990000;
  border-radius: 1px;
  padding:10px; 
  background-color: #ffffff;

  
}

/*  header toolbar */
.fc-header-toolbar {
  background-color: #ffffff;
  color: #ff0a00;
 
}
/*Title*/
.fc-toolbar-title {
  color: #ff0a00;
  font-family: "Roboto Mono", monospace;
}

/*navigation buttons */
.fc .fc-button-primary {
    background-color: #ff0a00;
    border-color:#ff0a00;
    color:#ffffff;
}
.fc .fc-button-primary:disabled{
  background-color: #ff0a00;
  border-color:#ff0a00;
  color:#ffffff;

}

/* view buttons */
.fc .fc-button-primary:not(:disabled).fc-button {
  background-color: #ff0a00;
    border-color:#ff0a00;
    color:#ffffff;
}

/*for the links in dates*/
.fc-col-header-cell a,
.fc-daygrid-day-frame .fc-daygrid-day-number{
  color:#000000;
  text-decoration:none;
  
}
/*Border vertical and horizontal*/
.fc-scrollgrid-section,
.fc-scrollgrid-sync-table td {
  border: 1px solid  #ff0a00; /* Example color */
}

.fc-list-item-title {
  font-weight: bold;
  color: #333;
}

.fc-list-item-time {
  color: #666;
}
.fc-list-event-time{color: #666;}


/* Media query for small devices */
@media (max-width: 768px) {
  .fc-scrollgrid-section,
  .fc-scrollgrid-sync-table td {
    border-width: 0.5px; 
    
  }
  #calendar {
    overflow-y: auto; 
    max-height: 300px; 
  }
  #calendar tbody {
    height: auto; 
    overflow: auto; 
}
  .fc .fc-button-primary:not(:disabled).fc-button {
    font-size: 12px; 
    padding: 5%; 
  }

  /* Adjustments for navigation buttons */
  .fc .fc-button-primary {
    font-size: 10px; 
    padding: 5px 10px; 
  }
}

/* Media query for larger devices */
@media (min-width: 1200px) and (max-width: 1700px) {
  .fc-scrollgrid-section,
  .fc-scrollgrid-sync-table td {
    border-width: 1px;
  }
  #calendar {
  overflow-y: auto; 
  max-height: 500px; 
  }
  #calendar tbody {
  height: auto;
  overflow: auto; 
  }

}
/* Media query for medium-sized devices */
@media (min-width: 770px) and (max-width: 1200px) {
  .fc-scrollgrid-section,
  .fc-scrollgrid-sync-table td {
    border-width: 0.5px;    
  }
  #calendar {
    overflow-y: auto; 
    max-height: 300px; 
  }
  #calendar tbody {
    height: auto;
    overflow: auto; 
    }
  .fc .fc-button-primary:not(:disabled).fc-button {
    font-size: 12px; 
    padding: 10%; 
  }
}