/*---------------------------Για την Company Home σελίδα--------------------------------*/

.leftComp-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  border-right: 1px solid #ff0800d2;
}

.welcome-title{
  border-top:1px solid red;
  border-bottom:1px solid red;
  color: rgb(255, 255, 255);
  border-radius: 5px; 
  padding: 1%;
  text-align: center;
  margin-bottom: 3%; 
}

.request-list-container {
  max-height: 100%; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
.emp-num-title{
  border-top:1px solid red;
  border-bottom:1px solid red;
  
  color: rgb(255, 255, 255);
  border-radius: 5px; 
  padding: 1%;
  text-align: center;
  margin-bottom: 3%; 

}
.animated-number {
  font-size: 36px; 
  font-weight: bold; 
  color: #ff0a00;
  animation: pulseNumber 1s infinite;
  text-align: center;
  margin-bottom: 2%;
}

@keyframes pulseNumber {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5; 
  }
  100% {
    opacity: 1;
  }
}


.request-wait-title{
  text-align: left;
}

.all-emp-req-title {
 
  padding-bottom: 1%;

}
.requests-list  {padding-left: 0rem;}

.requests-list li {
  display: flex; 
  align-items: center; 
  
}
.requests-list  a {
  color: #ff0a00;
  font-style: bold;
  font-size: 14px; 
  
}
.requests-list a:hover {
  color: #ff3636;
}
.approve-btn,
.reject-btn {
  border-radius: 50%; 
  width: 25px; 
  height: 25px; 
  line-height: 25px; 
  padding: 0; 
  font-size: 14px; 
  margin-right: 3%; 
}
.approve-btn{background-color:  rgb(0, 255, 200) ;}  
.reject-btn {background-color: rgb(255, 32, 3) ;}


/*-----------------------------------Για τη λίστα Αιτήσεων------------------------------------*/
.active-req-container{
  display: flex;
  flex-direction: column;

}

.list-title{
  border-top:1px solid red;
  border-bottom:1px solid red;
  color: rgb(255, 255, 255);
  border-radius: 5px; 
  padding: 1%;
  text-align: center;
 margin-bottom: 2%;
}

.active-req-table {
  width: 100%;
  border-collapse: collapse;
}
.active-req-table th {
  background-color: transparent; 
  font-weight: bold; 
  color: #fffefe; 
}
.active-req-table th,
.active-req-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
}

.active-req-table .custom-link {
  text-decoration: none;
  color: blue; 
}

.active-req-table .custom-link:hover {
  text-decoration: underline; 
}
.custom-link {
  color: #007bff; 
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}





/*---------------------------Για την προσθήκη Υπαλλήλων--------------------------------*/

.image-container{
  margin-bottom: 5%;
  border-right: 1px solid #ff0000;   
  text-align: center;
}
.image-container img {
  padding-top: 10%;
}
.reg-emp-title{
  border-top:1px solid red;
  border-bottom:1px solid red;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1%;
}
.register-container{
  padding-top: 10%;
  color: rgb(255, 255, 255);
  margin-bottom: 5%;
}
label {
  color: #fff; 
  font-weight: bold;
  padding: 5px;;
}
/* Style for the form fields */
input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
input[type="submit"] {
  background-color:red;
  color: white;
  padding: 1% 3%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float :right;
}
input[type="submit"]:hover {
  background-color: rgb(255, 69, 69);
}


/**--------------------------------Προβολή Υπαλλήλων-------------------------------------------------------**/
.table {
  width: 100%;
  margin-bottom: 20px;
  color:white;
  
}
#employee-table_filter {
  float: right;
}
.table-responsive{
  margin-bottom: 3%;
}
.pagination {
  list-style: none; 
  padding: 0; 
  margin-top: auto; /* Set the top margin to auto to push it to the bottom */
 

}
.pagination li {
  display: inline-block; 
  margin-right: 5px; 
  border-top: 1px solid red; 
  border-bottom: 1px solid red; 
}

.pagination li a {
  color: red; 
  text-decoration: none; 
}

.pagination li.active a {
  background-color: red; 
  color: white; 
  border: 1px solid red; 
  padding: 5px 10px; 
}

.pagination li.disabled a {
  color: gray; 
}

.pagination li:hover a {
  background-color: darkred; 
}
#employee-table_info
 {
  display: none;
}
#employee-table td {
  border-right: 1px solid red;
}

/* CSS for the modal*/
#DetailModal .modal-content {
  background-color: black;
  color: white;
}

#DetailModal .modal-header {
  background-color: red;
  color: white;
  border-bottom: none; 
}

.modal-header{
  background-color: red;
}

 
/*---------------------------------------Για τη λίστα Υπαλλήλων----------------------------------------------------*/

.all-requests-title{
 /* box-shadow: 2px 2px 2px 2px rgb(65, 65, 65);*/
  border-top:1px solid red;
  border-bottom:1px solid red;

  color: rgb(255, 255, 255);
  border-radius: 5px; 
  padding: 1%;
  text-align: center;
  width:50%;
 margin-left: 20%;
}
.btn-primary {
  background-color: transparent;
  border-color: rgb(0, 102, 255);
 }
.btn-danger {
  background-color: transparent;
  border-color: rgb(252, 22, 22);
}

/*----------------------------------Για τις Ρυθμίσεις-----------------------------------------------*/

.manage-leave-container{
  display: block;
}
.manage-leave-title {
  border-top: 1px solid #ff0a00;
  border-bottom: 1px solid #ff0a00;
  color: rgb(255, 255, 255);
  border-radius: 5px; 
  padding: 1%;
  text-align: center;
  margin-bottom: 3%; 
}
hr {
  border: 1px solid #fff; 
}
.subtext-container {
  margin-bottom: 3%;
  width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
  opacity: 0.7; 
}

.subtext-container p {
  text-align: justify; /
}

.manage-leave {
  width: 100%;
  border-collapse: collapse;
 
}

.manage-leave td {
  border: 1px solid red; 
  padding:2%;
}

.manage-leave label {
  display: block; 
  margin-bottom: 8px; 
}

#add-leave-btn{
  background-color: transparent; 
  border-color: #ff0a00; 
  color: #ffffff; 
  font-weight: bold;
  margin-left:2%;
  width:30%;
  padding:1%;
  text-align: center;
  float: right;
}
#add-leave-btn:hover {
  background-color:transparent; 
  border-color: #b10600; 
}
.plus-icon {
  margin-right: 5px; 
  font-size: 16px; 
  vertical-align: middle; 
}
.list-leave-container {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 7%;
  height: 40%;
  overflow-y: auto;
}
.leave-table {
  width: 100%;
  border-collapse: collapse;

  
}
.leave-table th,
.leave-table td {
  text-align: left;
  border: 1px solid red; /* Red vertical borders */
  padding:2%
}
.leave-table-header th {
  background-color: rgb(0, 0, 0);
}

.leave-table td {
  vertical-align: top;
  
}

.leave-table-body td:first-child,
.leave-table-body td:last-child {
  width: 50%;
}

.leave-table-body td[colspan="2"] {
  text-align: center;
}
.picture-container {
  width:350px;
  height:220px;
  overflow: hidden; /* Hide overflow to ensure it's fully round */
  float: right;
}

.picture-container img {
  width: auto; /* Ensure the image takes up the full container */
  height: 100%; /* Maintain aspect ratio */
  border-radius: 50%; /* Make the image round */

}






/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------s*/
/* Media queries for small devices */

@media (max-width: 767px) {
  .image-container img {
      width: 100px;
      height: 100px;
  }
}

/* Media query for larger devices */
@media (min-width: 1200px) and (max-width: 1700px) {
.container {
  padding: 10%;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #EEEEEE;
  margin-left: 20%;
  margin-bottom: 10%;
}
  .leftComp-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-right: 1px solid #ff0800d2;
    padding: 3%;
  }


}
/* Media query for medium-sized devices */
@media (min-width: 770px) and (max-width: 1200px) {
.container {
  padding: 10%;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #EEEEEE;
  margin-left: 20%;
  margin-bottom: 10%;
}
  .leftComp-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-right: 1px solid #ff0800d2;
    padding: 3%;
  }
}