/*---------------------------Για την Company Home σελίδα--------------------------------*/

.color-legend {
  padding-top: 1%;
  display:inline-block;
  color:white;
  
}
.color-legend ul {
  list-style: none;
  padding: 0;
}
.color-legend li {
  display:inline-block;

}
.color-legend .color-square {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  margin-right: 10px; /* Adjust spacing */
}
.color-legend span {
  margin-right: 5px; /* Adjust spacing between leave type and color square */
}

.animated-number {
  font-size: 36px; 
  font-weight: bold; 
  color: #ff0a00;
  animation: pulseNumber 1s infinite;
  text-align: center;
  margin-bottom: 2%;
}
@keyframes pulseNumber {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5; 
  }
  100% {
    opacity: 1;
  }
}
.request-wait-title{
  text-align: left;
}
.all-emp-req-title {
  padding-bottom: 1%;
}
.requests-list{
  padding-left: 0rem;
}
.requests-list li {
  display: flex; 
  align-items: center; 
}
.requests-list  a {
  color: #ff0a00;
  font-style: bold;
  font-size: 14px;
}
.requests-list a:hover {
  color: #ff3636;
}
.approve-btn,
.reject-btn {
  border-radius: 50%; 
  width: 25px; 
  height: 25px; 
  line-height: 25px; 
  padding: 0; 
  font-size: 14px; 
  margin-right: 3%; 
}
.approve-btn{background-color:  rgb(0, 255, 200) ;}  
.reject-btn {background-color: rgb(255, 32, 3) ;}

/* CSS for message container and messages 
.message-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 1000;
}

.message {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  display: none;
}

.message.success {
  background-color: #4caf50; 
}

.message.error {
  background-color: #f44336; /* 
}*/


/*---------------------------------------Για τη λίστα Αιτήσεων---------------------------------------------------------------*/
.week-calendar{
  
  border-radius: 10px;
  margin: 1rem;
}
#calendar2 {
  width: 100%; /* Make the width bigger */
  height: 60vh;
  border-left: 4px double #eb0000;
  border-right: 4px double  #eb0000;
  border-radius: 10px;
  color:rgb(253, 7, 7);
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #971313;
 
}

.fc-toolbar {
 
  padding: 1rem;
  color: #ffffff;
}

.fc-daygrid-event {
  background-color: #aaaaff;
  color: #ffffff;
  
}
.fc-col-header{
  border: 1px solid #ff0000;

} 


/*---------------------------Για την προσθήκη Υπαλλήλων--------------------------------*/
label {
  color: #fff; 
  font: normal 400 18px "Roboto Mono", cursive;
  padding: 1%;
}

#register-btn{
  float:right;
}


/**--------------------------------Προβολή Υπαλλήλων-------------------------------------------------------**/

.table {
  width: 100%;
  margin-bottom: 20px;
  color: white;
  
}
#employee-table_filter {
  float: right;
}
.table-responsive{
  margin-bottom: 3%;
}
.pagination {
  list-style: none; 
  padding: 0; 
  margin: 0 auto; /* Center the pagination horizontally */
  margin-bottom: 2%;
/*
  margin-top: 2vh; --> Add some top margin 
  margin-bottom: 5vh; --> Add some bottom margin 
  text-align: center; --> Center the pagination links
  position: absolute; --> Position the pagination absolutely 
  bottom: 19%; --> Position the pagination at the bottom of the container 
  left: 50%; --> Center the pagination horizontally 
  transform: translateX(-50%); --> Center the pagination horizontally 
*/
}
.pagination li {
  display: inline-block; 
  margin-right: 5px; 
  border-top: 1px solid red; 
  border-bottom: 1px solid red; 
}

.pagination li a {
  color: red; 
  text-decoration: none; 
}

.pagination li.active a {
  background-color: red; 
  color: white; 
  border: 1px solid red; 
  padding: 5px 10px; 
}

.pagination li.disabled a {
  color: gray; 
}

.pagination li:hover a {
  background-color: darkred; 
}
#employee-table_info
 {
  display: none;
}
#employee-table td {
  border-right: 1px solid red;
}

/* CSS for the modal*/
#DetailModal .modal-content {
  background-color: black;
  color: white;
}

#DetailModal .modal-header {
  background-color: red;
  color: white;
  border-bottom: none; 
}

.modal-header{
  background-color: red;
}

/*----------------------------------Για τις Ρυθμίσεις-----------------------------------------------*/

.subtext-container {
  width: 90%;
  margin: 0 auto;
  opacity: 0.7;
  margin-bottom:1rem;
  font: normal 500 16px "Roboto Mono", cursive;
}
/*table style*/
.leave-table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.leave-table th,
.leave-table td {
  color: white;
  padding:0.5rem; /* Increase padding for better spacing */
  border: 1px solid red;
  font: normal 500 18px "Roboto Mono", cursive;
}

/*button style*/
#add-leave-btn {
  float: right; 
  background-color: transparent;
  border: 1px solid #d80801d2;
  color: white;
 font: normal 500 18px "Roboto Mono", cursive;
}
#add-leave-btn:hover {
  background-color: red;
  border-color:  #d80801d2;
  color: white;
}

.leave-table-body a {
  color: rgb(189, 189, 189);
  opacity: 0.7;
  text-decoration: none; /* Remove underline */
  font: normal 500 12px "Roboto Mono", cursive;
}

.leave-table-body a:hover {
  color: red; 
  text-decoration: underline; 
  
}

/* scrollbar style */
.list-leave-container::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}
.list-leave-container::-webkit-scrollbar-track {
  background: #6e08e4; /* Set background color of the track */
}
.list-leave-container::-webkit-scrollbar-thumb {
  background: #ff0202; /* Set color of the handle */
  border-radius: 6px; /* Set border radius of the handle */
}
.list-leave-container::-webkit-scrollbar-thumb:hover {
  background: #af0202; /* Change color of handle on hover */
}
/* For Firefox */
.list-leave-container {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000; /* Set color of scrollbar and track */
}
/* CSS for select bar */
select {
  width: 100%; /* Set the width to 100% to fill the entire container */
  padding: 0.5rem; /* Add padding for better spacing */
  font-size: 1rem; /* Adjust font size */
  border-radius: 0.25rem; /* Add border radius for rounded corners */
  border: 1px solid #ccc; /* Add border for better visibility */
  background-color: #fff; /* Set background color */
  color: #000; /* Set text color */
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Media query for larger devices */
@media (min-width: 1350px) and (max-width: 1750px) {
  .leftComp-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-right: 1px solid #ff0800d2;
    padding: 3%;
  }
}
/* Media query for medium-sized devices */
@media (min-width: 950px) and (max-width: 1350px) {
  .leftComp-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-right: 1px solid #ff0800d2;
    padding: 3%;
  }
}
/* Media queries for small devices */
@media  (min-width: 650px) and (max-width: 950px)  {
  .image-container img {
    width: 100px;
    height: 100px;
  }
  select {
    width: auto; /* Reset width to auto on larger screens */
}
}