/*Dashboard Page*/
.container{

background-color:  #000000      ;
color: #ffffff;
 padding: 10px;
border-radius: 4px;
;
}
.leftEmp-container{
display: flex;
 flex-direction: column;
 align-items: left;
justify-content: left;
 border-right: 1px solid #fff;
}



/*Self-Request page*/
table {
margin: auto;
text-align: center;
}

th[colspan="3"],
td[colspan="3"] {
border-right: 2px solid #ccc;
}


/*Add Request Page*/
.form-control.description {
height: 150px; 
}