/*---------------Υπάλληλοσ Dashboard Page----------------------*/

.leftEmp-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-right: 1px solid #ff0800d2;
  }

.balance-container {
    max-height: 100%; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }

  .balance-title {
    border-top:1px solid red;
    border-bottom:1px solid red;
    color: rgb(255, 255, 255);
    border-radius: 5px; 
    padding: 1%;
    text-align: center;
    margin-bottom: 3%; 
  }
/*------------------------------------Η Αιτήσεις μου------------------------------------*/

.myrequest-container{
margin-top: 3%;
    padding: 20px;
    
}
.nav-tabs {
    background-color: #e9ecef;
    border-bottom: none;
    margin-bottom: 20px;
}
.nav-tabs .nav-link {
    color: red;
    border: none;
}
.nav-tabs .nav-link.active {
    background-color: #ffffff;
    border-bottom: 2px solid red;
    font-weight: bold;
    color:rgb(255, 45, 45);
}

/* Style for the tab content */
.tab-panel {
    padding: 20px;
}
.table thead th {
    background-color: transparent;
    color: #ff0000;
  }
  
.table tbody td {
    border-top: 1px solid #ff0000;
}

/* Additional styling for specific tables */
#pendingTable tbody td,
#approvedTable tbody td,
#rejectedTable tbody td {
    vertical-align: middle;
}

/*----------------------------------Προσθήκη Αίτησης-------------------------------------------*/
.first-image-container {
    width:40%;
    height:50%;
}
  
.first-image-container img {
    padding-top: 20%;
    width: auto; /* Ensure the image takes up the full container */
    height: 100%; /* Maintain aspect ratio */
}

.add-req-title{
    border-top:1px solid red;
    border-bottom:1px solid red;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1%;
}
.addrequest-container {
   padding-top:3%;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(2, 2, 2, 0.1);
   border-left:1px solid red;
   
}
/*Form Container*/
.add-request{
    background-color: #222;
    padding:2%;
    border-radius: 10px;
    margin-bottom: 2%;
}
/* Style για φορμα */
.form-group label {
    color: #ff2727; 
    font-weight: bold;
    padding: 5px;
   
}

/* Form input field styling */
.form-control {
    background-color: #ffffff; 
    border: 1px solid #ced4da; 
    border-radius: 5px;
}

/* Form input field margin */
.form-group {
    margin-bottom:3%; 
}


.btn-secondary {
    background-color: #ff0000; 
    border-color: #b40000; 
    color: #ffffff; 
    font-weight: bold;
    margin-bottom: 1%;
}


.btn-secondary:hover {
    background-color: #ff2727; 
    border-color: #8f0101; 
}
.form-row .col-md-6 {
    display: inline-block;
    width: 48%; /* για κενό ανάμεσα στα πεδία */
    margin-right: 2%; /* για κενό ανάμεσα στα πεδία */
}

.form-row .col-md-6:last-child {
    margin-right: 0; /* Remove margin from the last column to prevent extra space */
}
