/*---------------υπάλληλο Dashboard Page----------------------*/


.progress-circle {
  position: relative;
  width:70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e7e7e786; /* Default background color */
  overflow: hidden;
  text-align: center;
}
.progress-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0a00; /* Progress color */
  transform-origin: right;
}
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font: bold 500 16px "Roboto Mono", cursive;
  
}
.main-content-section table {
  width: 100%;
  border-collapse: collapse;
}

.main-content-section th,
.main-content-section td {
  padding: 2%; /* Adjust as needed */
}
/*------------------------------------Η Αιτήσεις μου------------------------------------*/


.nav-tabs {
  background-color: #e9ecef;
  border-bottom: none;
  margin-bottom: 20px;
}
.nav-tabs .nav-link {
  color: red;
  border: none;
}
.nav-tabs .nav-link.active {
  background-color: #ffffff;
  border-bottom: 2px solid red;
  font: bold 500 16px "Roboto Mono", cursive;
  color:rgb(255, 45, 45);
}
/* Style for the tab content */
.tab-panel {
  padding: 20px;
}
.table thead th {
  background-color: transparent;
  color: #ff0000;
}
.table tbody td {
  border-top: 1px solid #ff0000;
}
#pendingTable tbody td,
#approvedTable tbody td,
#rejectedTable tbody td {
  vertical-align: middle;
}

/*----------------------------------Προσθήκη Αίτησης-------------------------------------------*/



/* Style για φορμα */
.form-group label {
  color: #ff2727; 
  font: bold 500 16px "Roboto Mono", cursive;
  padding: 5px;
}
/* Form input field styling */
.form-control {
  background-color: #ffffff; 
  border: 1px solid #ced4da; 
  border-radius: 5px;
}
/* Form input field margin */
.form-group {
  margin-bottom:3%; 
}

.form-row .col-md-6 {
  display: inline-block;
  width: 48%; /* για κενό ανάμεσα στα πεδία */
  margin-right: 2%; /* για κενό ανάμεσα στα πεδία */
}
.form-row .col-md-6:last-child {
  margin-right: 0; /* Remove margin from the last column to prevent extra space */
}
/* Style for the file input button (browse) */
.custom-file-input {
  color: #ffffff; /* Text color */
  border-bottom: 2px solid #bd0000; 
  border-left: 2px solid #bd0000;
  padding: 8px;
  margin-top: 0.5rem;
  border-radius: 5px; /* Border radius */
  cursor: pointer; /* Cursor style */
  position: relative; /* Position relative for shadow */
  transition: box-shadow 0.3s ease; /* Transition for shadow */
}

/* Add shadow on hover */
.custom-file-input:hover {
  box-shadow: 0 4px 8px rgba(255, 253, 253, 0.685); /* Shadow style */
}


/* Hide the default file input button */
.custom-file-input::file-selector-button {
  display: none;
}

/* Style the label for the file input */
.custom-file-label {
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for long file names */
  white-space: nowrap; /* Prevent wrapping */
}
.custom-file-input::file-placeholder {
  color: #999999; /* Text color for placeholder */
  content: "Choose a file"; /* Custom placeholder text */
}