.login-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

/*.col-md-6 {
    padding: 0;
    margin: 0;
    
}*/

.login-form {
    padding:2%;
    border: 5% solid #000;
    border-radius: 5px;
    background-color: rgba(250, 247, 246, 0.8);
    border-radius:5px;
    color: #b31e00;
    height: 100%;
    max-height: 100%; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    
}

/* Form group*/ 
.login-form .form-group {
    margin-bottom: 10px;
}

.login-form .input-group {
    position: relative;
}

.login-form .input-group input{
    color:rgb(119, 30, 160);
    width: 100%;
    font-size: 1vw;
    line-height: 2;   
}

.login-form .input-group-text {
    background-color:#7D0A0A ;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    color: #ccc; /* Icon color */
}


/* Form labels */
.login-form label {
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
}


.login-form .form-check-input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #7D0A0A;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.login-form .form-check-input[type="checkbox"]:checked {
    background-color: #c24723;
    border-color: #fd5e3a;
}

.login-form .form-check-input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
}

.login-form .form-check-input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 14px;
    color: #dd3a11;
    text-align: center;
    line-height: 20px;
}

/* Form buttons */
.login-form button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #7D0A0A;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button[type="submit"]:hover {
    background-color: #B80000;
}

/* Checkbox styles */
.login-form .form-check-inline {
    margin-right: 30px;
}


/* Image styles */
.img-fluid {
    max-width: 100%;
    height:100%;
}

/* Column styles */
.login-form .col-md-2,
.login-form .col-md-3,
.login-form .col-md-6,
.login-form .col-md-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Text alignment */
.login-form .text {
    margin-top: 10%;
    font-style: italic;
    padding-bottom: 5%;
}