.login-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

/*.col-md-6 {
    padding: 0;
    margin: 0;
    
}*/

.login-form {
    padding:2%;
    border-radius: 5px;
    background-color: #000000;
    border-radius:5px;
    color: #ffffff;
    height: 100%;
    max-height: 100%; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    
}

/* Form group*/ 
.login-form .form-group {
    margin-bottom: 10px;
}

.login-form .input-group {
    position: relative;
}

.login-form .input-group input{
    color:rgb(119, 30, 160);
    width: 100%;
    font-size: 1vw;
    line-height: 2;   
}

.login-form .input-group-text {
    background-color:#ff0a00 ;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    color: #ffffff; /* Icon color */
}


/* Form labels */
.login-form label {
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
}


.login-form .form-check-input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ff0a00;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.login-form .form-check-input[type="checkbox"]:checked {
    background-color: #ff0a00;
    border-color: #ff0a00;
}

.login-form .form-check-input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
}

.login-form .form-check-input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 14px;
    color: #000000;
    text-align: center;
    line-height: 20px;
}

/* Form buttons */
.login-form button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #ff0a00;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button[type="submit"]:hover {
    background-color: #ff0a00;
}

/* Checkbox styles */
.login-form .form-check-inline {
    margin-right: 30px;
}




/* Text alignment */
.login-form .text {
    margin-top: 10%;
    font-style: italic;
    padding-bottom: 5%;
}