#v-pills-tab {
    position: fixed; /* Fix the navbar position */
    bottom: 7%; /* Position it above the footer */
    top: 10%; /* Position it below the horizontal navbar */
    left: 0; /* Align navbar to the left */
    width: 15%; /* Set the width of the navbar */
    background-color: #c0401e; /* Navbar background color */
    padding-top: 1%; /* Add padding to the top */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
    padding-left: 1%; /* Add padding to the left */
    font-size:1vw;
    line-height: 2;
    
}



.nav-link {
    color: #e1e2e0; /* Set color for nav links */
    padding: 2%; /* Adjust padding */
    text-align: center;
    margin-bottom: 10%; /* Add some space between nav links */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    display: block; /* Display nav links as block */
}

.nav-link.active {
    background-color: #ef9361; /* Set background color for active nav link */
    color: #fff;
}

.nav-link:hover {
    background-color: #ef9361; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
    text-decoration: none; /* Remove underline on hover */
}
