#v-pills-tab {
    position: fixed; 
    bottom: 5%;
    top: 5%;
    left: 0; 
    width: 12%; 
    background-color: #E2C799; 
    padding-top: 4%; 
   
    overflow-y: auto; 
    font-size:0.7vw;
    line-height: 2;
   
    
}
.nav-link {
    color: #000; 
    padding: 10px; 
    margin-bottom: 10%; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    display:inline-flex;
    display: flex; /* Use flexbox to align icon and text */
    align-items: center; /
}

.nav-link.active {
    background-color: #7D0A0A; 
    color: #111;
}

.nav-link:hover {
    background-color: #964444; 
    color: #444; 
    text-decoration: none; 
}

.nav-link i {
    display:flex;
    
    justify-content: left;
    align-items: left;
    padding-right: 10px;
    font-size: 0.8vw; /* Adjust the size of the icon */
    color: #444; /* Change the color of the icon */
}