{% extends 'vacayvue/base.html' %}

{% block content %}
{% if user.is_authenticated %}

  <center>
    <h1>Προσθήκη Αιτήματος στη Βάση</h1>
    </br></br>
    {% if submitted %}
      <h3> Η Αίτηση σας καταχωρήθηκε επιτυχώς!!!</h3>
    {% else %}
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="submitted" value="True">
        <input type="submit" value="Submit" class="btn btn-secondary">
      </form>
    {% endif %}
  </center>

  {% else %}
  <h1>Πρέπει να είστε συνδεδεμένος για να δείτε αυτη την σελίδα..</h1>
   <a href="{% url 'login' %}">Συνδέσου εδώ</a>
   {% endif %}

{% endblock %}
