{% extends 'vacayvue/base.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-md-5 border-image-container">
            <h3 class="title">Προσθήκη Υπαλλήλου</h3>
            <img src="{% static 'images/stripy3.png' %}" alt="Image" class="img-fluid ">
        </div>
        <div class="col-md-7 main-content-section">
            <form action="{% url 'add_employee' %}" method="POST" class="form-container">
                {% csrf_token %}
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td><label for="id_email">Email:</label></td>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_first_name">Όνομα:</label></td>
                            <td>{{ form.first_name }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_last_name">Επίθετο:</label></td>
                            <td>{{ form.last_name }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_join_date">Έναρξη</label></td>
                            <td>{{ form.join_date }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_password1" class="custom-form-label">Κωδικός</label></td>
                                <td>{{ form.password1 }}</td>
                        </tr>
                          <tr>
                          <td><label for="id_password2" class="custom-form-label">Επιβεβαίωση Κωδικού</label></td>
                            <td>{{ form.password2 }}</td>
                          </tr>                       
                    </tbody>
                </table>
                <button id="register-btn" type="submit" class="button">Εγγραφή </button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script%}
<script src="{% static 'js/datepicker-el.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
{% endblock  %}