{% extends 'vacayvue/base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4 image-container">
			<h4 class="reg-emp-title">Προσθήκη Αίτησης</h4>
            <img src="{% static 'images/men.png' %}" alt="Image" class="img-fluid ">
		</div>
		<div class="col-md-8 addrequest-container">
			{% if submitted %}
				<div class="alert alert-success" role="alert">
				Η Αίτηση σας καταχωρήθηκε επιτυχώς!!!
				</div>
			{% else %}
				<form action="{% url 'add_request' %}" method="POST" class="form-container">
					{% csrf_token %}
					<div class="form-group">
						<label for="id_type">Τύπος:</label>
						{{ form.type }}
					</div>
					<div class="form-row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="id_start">Έναρξη:</label>
								{{ form.start }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="id_end">Λήξη:</label>
								{{ form.end }}
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="id_description" class="form-label">Περιγραφή</label>
							<div class="input-group">
								{{ form.description }}
							</div>
					</div>
					<input type="hidden" name="submitted" value="True">
					<button type="submit" class="btn btn-secondary">Υποβολή</button>
				</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
