<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
        <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
        <!-- FullCalendar CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/main.min.css" rel="stylesheet">
        <!-- FullCalendar JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/main.min.js"></script>
</head>

<body>
    {% include 'vacayvue/navbar.html'%}
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: '/all_events',
                selectable: true,
                editable: true,
                select: function(info) {
                    var title = prompt("Enter Event Title");
                    if (title) {
                        var start = info.startStr;
                        var end = info.endStr;                
                        $.ajax({
                            type: "GET",
                            url: '/add_event',
                            data: {'title': title, 'start': start, 'end': end},
                            dataType: "json",
                            success: function (data) {
                                calendar.refetchEvents();
                                alert("Added Successfully");
                            },
                            error: function (data) {
                                alert('There is a problem!!!');
                            }
                        });
                    }
                },
                eventResize: function(info) {
                    var event = info.event;
                    var start = event.startStr;
                    var end = event.endStr;
                    var title = event.title;
                    var event_id = event.event_id;
                    $.ajax({
                        type: "GET",
                        url: '/update',
                        data: {'title': title, 'start': start, 'end': end, 'event_id':event_id},
                        dataType: "json",
                        success: function (data) {
                            calendar.refetchEvents();
                            alert('Event Update');
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },
                eventDrop: function(info) {
                    var event = info.event;
                    var start = event.startStr;
                    var end = event.endStr;
                    var title = event.title;
                    var event_id = event.event_id;
                    $.ajax({
                        type: "GET",
                        url: '/update',
                        data: {'title': title, 'start': start, 'end': end, 'event_id': event_id},
                        dataType: "json",
                        success: function (data) {
                            calendar.refetchEvents();
                            alert('Event Update');
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },
                eventClick: function(info) {
                    if (confirm("Are you sure you want to remove it?")) {
                        var event_id = info.event.event_id;
                        $.ajax({
                            type: "GET",
                            url: '/remove',
                            data: {'event_id': event_id},
                            dataType: "json",
                            success: function (data) {
                                info.event.remove();
                                alert('Event Removed');
                            },
                            error: function (data) {
                                alert('There is a problem!!!');
                            }
                        });
                    }
                }
            });
            calendar.render();
        });
    </script>
    
    <footer>
        Copyright (c) {{current_year}}
    </footer>
</body>

</html>
