{% extends 'vacayvue/base.html' %}
{% load static %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-6 leftEmp-container">
            <h3 class="welcome-title">Καλωσήρθες {{ employee.first_name}}</h3>
            <div id="calendar"></div>
        </div>
        <div class="col-md-6 balance-container">
            <h3 class="balance-title">Balance</h3>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script%}
<script src="{% static 'js/calendar.js' %}"></script>

{% endblock  %}