{% extends 'vacayvue/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-7 calendar-section">
        <h3 class="title">Καλωσήρθες {{ employee.first_name }}</h3>
        <div class="calendar-container">
            <div id="calendar"></div>
        </div>
        <div class="color-legend">
            <table>
                <tbody>
                    {% for leave_type, color in color_map.items %}
                    <tr>
                        <td>
                            <div class="color-square" style="background-color:{{ color }};"></div>
                        </td>
                        <td>
                            <span>: {{ leave_type }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5 main-content-section">
        <h3 class="title">Balance</h3>
        <table>
            <thead>
                <tr>
                    <th>Τύπος Άδειας</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody id="balance-table-body">
                {% for leave_type in leave_types %}
                <tr>
                    <td>{{ leave_type.name }}:</td>
                    <td>
                        <div class="progress-circle-container">
                            <div class="progress-circle" data-leave-type="{{ leave_type.name }}" data-default-days="{{ leave_type.default_days }}" data-used-days="0">
                                <div class="progress-indicator"></div>
                                <div class="progress-text"></div>
                            </div>
                            
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <div id="current-month">
                <span>Τρέχων Μήνας: {{ current_month }}</span>
                <i class="far fa-clock"></i>
            </div>
            <div id="reset-month">
                {% if reset_month %}
                <span>Μήνας Επαναφοράς: {{ reset_month }}</span>
                <i class="far fa-clock"></i>
                {% else %}
                <span>No reset month set</span>
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}

{% block script %}



<script src="{% static 'js/progressBar.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}
