{% extends 'vacayvue/base.html' %}

{% block content %}


    <div class="col-md-2">
    </div>
    <div class="col-md-7">
        <div class="table-responsive">
            <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 261.641px;">SL</th>
                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">Τύπος Άδειας</th>
                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">Έναρξη Άδειας</th>
                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Λήξη Άδειας</th>
                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Περιγραφή</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                    <tr role="row" class="odd">
                        <td class="sorting_1">{{ forloop.counter }}</td>
                        <td>{{ request.type }}</td>
                        <td>{{ request.start }}</td>
                        <td>{{ request.end }}</td>
                        <td>{{ request.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <h1 class="text-center">Balance</h1>
    </div>


{% endblock %}
s