{% extends 'vacayvue/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
    <div class="col-md-6 left-container">
        <div class="table-responsive">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Λίστα Αιτήσεων Εργαζομένων</h5>
                    <!-- Display list of registered companies here -->
                    <div class="table-responsive">
                        <table id="sampleTable" class="table">
                            <thead>
                                <tr>
                                    <th>Υπάλληλος</th>
                                    <th>Τύπος</th>
                                    <th>Έναρξη</th>
                                    <th>Λήξη</th>
                                    <th>Περιγραφή</th>
                                    <th>Κατάσταση</th>
                                      
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                                {% for request in requests %}
                                <tr>
                                <td>{{ request.user.last_name }}</td>                 
                    
                                <td>{{ request.type }}</td>
                                <td>{{ request.start }}</td>
                                <td>{{ request.end }}</td>
                                <td>{{ request.description }}</td>
                                <td>{{ request.status}}</td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 balance-container">
        <h1 class="text-center">Balance</h1>
    </div>
</div>
</div>


{% endblock %}
{% block script%}
<script>
$(document).ready(function() {
    $('#sampleTable').DataTable(); 
    
   
    });
</script>

{% endblock script %}
