{% extends 'vacayvue/base.html' %}
{% load static %}

{% block content %}


    <div class="col-md-2">
    </div>
    <div class="col-md-7">
        <div class="table-responsive">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Λίστα Αιτήσεων Εργαζομένων</h5>
                    <!-- Display list of registered companies here -->
                    <div class="table-responsive">
                        <table id="sampleTable" class="table">
                            <thead>
                                <tr>
                                    <th>Τύπος</th>
                                    <th>Έναρξη</th>
                                    <th>Λήξη</th>
                                    <th>Περιγραφή</th>
                                    <th>Έγγριση</th>
                                    <th>Απόρριψη</th>  
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                                {% for request in requests %}
                                <tr>                 
                    
                                <td>{{ request.type }}</td>
                                <td>{{ request.start }}</td>
                                <td>{{ request.end }}</td>
                                <td>{{ request.description }}</td>
                                <td><button class="btn btn-secondary approve-btn" data-request-id="{{ request.id }}">Έγγριση</button></td>
                                <td><button class="btn btn-danger reject-btn" data-request-id="{{ request.id }}">Απόρριψη</button></td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h1 class="text-center">Balance</h1>
    </div>


{% endblock %}
{% block script%}
<script>
$(document).ready(function() {
    $('#sampleTable').DataTable();  });

    $('.approve-btn').click(function() {
        var requestId = $(this).data('request-id');
        $.ajax({
            type: 'POST',
            url: "/vacayvue/approve-request",
            data: {
                'request_id': requestId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
                // Handle success response, maybe show a notification
            }
        });
    });

    $('.reject-btn').click(function() {
        var requestId = $(this).data('request-id');
        $.ajax({
            type: 'POST',
            url: "/vacayvue/reject-request/",
            data: {
                'request_id': requestId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
                // Handle success response, maybe show a notification
            }
        });
    });
</script>

{% endblock script %}
