{% extends 'vacayvue/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-12 ">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/red.jpg' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <form action="{% url 'login' %}" method="POST" class="form-container login-form">
                <h4 class="text">Είσοδος Χρήστη</h4>
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="employee" name="user_type" value="employee">
                        <label class="form-check-label" for="employee">Εργαζόμενος</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="company" name="user_type" value="company">
                        <label class="form-check-label" for="company">Εταιρία</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-container input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        {{ form.email }}
                    </div>
                    {% if form.errors.email %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ form.errors.email }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="input-container input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        {{ form.password }}
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="button">Σύνδεση</button>
            </form>
        </div>
    </div>
</div>

</div>
</div>



{% endblock %}
{% block script%}
<script src="{% static 'js/checkbox.js' %}"></script>
{% endblock  %}
