{% extends 'vacayvue/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="shadow p-3 mb-4 bg-body rounded">
            <h4 class="text-center">Είσοδος Χρήστη</h4>

            <form action="{% url 'login' %}" method="POST" class="form-container">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_user_type" class="form-label">Είδος Χρήστη</label>
                    {{ form.user_type }}
                </div>
                <div class="form-group">
                    <label for="id_email" class="form-label">Email</label>
                    {{ form.email }}
                    {% if form.errors.email %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ form.errors.email }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_password" class="form-label">Κωδικός</label>
                    {{ form.password }}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="button">Σύνδεση</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
