{% extends 'vacayvue/base.html' %}
{% load static %}

{% block content %}
<div id="content-wrap">
    <div class="row">
        <h3 class="manage-leave-title">Διαχείρηση Αδειών</h3>
        <div class="col-md-12 manage-leave-container">
            <div class="subtext-container">
                <p>Προσαρμόστε το σύστημα διαχείρισης αδειών χωρίς κόπο ώστε να ταιριάζει απόλυτα στις ανάγκες σας. 
                    Ορίστε τους τύπους άδειας, εκχωρήστε προεπιλεγμένες ημέρες και επιλέξτε τον μήνα επαναφοράς με ευκολία:
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="picture-container">
                        <img src="{% static 'images/stripy2.png' %}" alt="Image" class="img-fluid ">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-container">
                        <form action="{% url 'manage_leave_type' %}" method="POST" class="form-container">
                            {% csrf_token %}
                            <table class="manage-leave">
                                <tr>
                                    <td><label for="id_reset_month">Μήνας Επαναφοράς:</label></td>
                                    <td>{{ form.reset_month }}</td>
                                </tr>
                                <tr>
                                    <td><label for="id_name">Τύπος Αδείας:</label></td>
                                    <td>{{ form.name }}</td>
                                </tr>
                                <tr id="unique-id-here">
                                    <td><label for="id_default_days">Μέρες στον χρονο:</label></td>
                                    <td>{{ form.default_days }}</td>
                                </tr>
                            </table>
                            <button id="add-leave-btn" type="submit" class="button">
                                <span class="plus-icon">&#43;</span>Προσθήκη
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="list-leave-container">
                        <table class="leave-table">
                            <thead class="leave-table-header">
                                <tr>
                                    <th>Τύπος Άδειας:</th>
                                    <th>Μέρες ανα Χρόνο:</th>
                                </tr>
                            </thead>
                            <tbody class="leave-table-body">
                                {% for leave_type in leave_types %}
                                <tr>
                                    <td>{{ leave_type.name }}</td>
                                    <td>{{ leave_type.default_days }}: <a href="{% url 'update_default_days' leave_type_id=leave_type.id %}">αλλαγή</a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="2">No leave types found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="picture-container">
                        <img src="{% static 'images/stripy1.png' %}" alt="Image" class="img-fluid ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
