{% extends 'vacayvue/base.html' %}
{% load static %}

{% block content %}

<div id="content-wrap">
    <div class="row">
     <div class="col-md-12 myrequest-container ">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " id="approved-tab" data-toggle="tab" href="#approved" role="tab" aria-controls="approved" aria-selected="false">Εγκεκριμένες</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Eκκρεμής</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="rejected-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="rejected" aria-selected="false">Απορρίφθεισες</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                    <h5>Eκκρεμής Αιτήσεις</h5>
                    <div class="table-responsive">
                        <table id="pendingTable" class="table">
                            <thead>
                                <tr>
                                    <th>Τύπο</th>
                                    <th>Ημερομηνία</th>
                                    <th>Περιγραφή</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in pending_requests %}
                                <tr>
                                    <td>{{ request.leave_type }}</td>
                                    <td>{{ request.start }} - {{ request.end }}</td> 
                                    <td>{{ request.description }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade  show active" id="approved" role="tabpanel" aria-labelledby="approved-tab">
                    <h5>Εγκεκριμένες Αιτήσεις</h5>
                    <div class="table-responsive">
                        <table id="approvedTable" class="table">
                            <thead>
                                <tr>
                                    <th>Τύπο</th>
                                    <th>Ημερομηνία</th>
                                    <th>Περιγραφή</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in approved_requests %}
                                <tr>
                                    <td>{{ request.leave_type }}</td>
                                    <td>{{ request.start }} - {{ request.end }}</td> 
                                    <td>{{ request.description }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
                    <h5>Απορρίφθεισες Αιτήσεις</h5>
                    <div class="table-responsive">
                        <table id="rejectedTable" class="table">
                            <thead>
                                <tr>
                                    <th>Τύπο</th>
                                    <th>Ημερομηνία</th>
                                    <th>Περιγραφή</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in rejected_requests %}
                                <tr>
                                    <td>{{ request.leave_type }}</td>
                                    <td>{{ request.start }} - {{ request.end }}</td> 
                                    <td>{{ request.description }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    // Enable Bootstrap tab navigation
    $(document).ready(function(){
        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    });
</script>
{% endblock %}