{% extends 'vacayvue/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 image-container">
            <h4 class="reg-emp-title">Προσθήκη Υπαλλήλου</h4>
            <img src="{% static 'images/stripy3.png' %}" alt="Image" class="img-fluid ">
        </div>
        <div class="col-md-6 register-container">
            
            <form action="{% url 'register_employee' %}" method="POST" class="form-container">
                
                {% csrf_token %}
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td><label for="id_email">Email:</label></td>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_first_name">Όνομα:</label></td>
                            <td>{{ form.first_name }}</td>
                        </tr>
                        <tr>
                            <td><label for="id_last_name">Επίθετο:</label></td>
                            <td>{{ form.last_name }}</td>
                        </tr>
                    
                        <tr>
                            <td><label for="id_datejoined">Έναρξη</label></td>
                            <td>{{ form.join_date }}</td>
                        </tr>
             
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" value="Εγγραφή" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
