{% extends 'vacayvue/base.html' %}

{% block title %}Fullcalendar{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="tile row">
      <div class="modal fade show" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title text-white" id="exampleModalLongTitle">Προσθήκη Αιτήματος</h5>
              <button class="close modalClose" data-target="#requestModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form  method="post" >
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Τύπος Άδειας:</label>
                  {{ form.type }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Έναρξης:</label>
                  {{ form.start }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Λήξης:</label>
                  {{ form.end }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Περιγραφή:</label>
                  {{ form.description }}
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger modalClose">Κλείσιμο</button>
                <button type="submit" class="btn btn-primary submitRequestForm " id=>Υποβολή</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal fade show" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title text-white" id="title_request_detail"></h5>
              <button class="close modalClose" data-target="#detailModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="">
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Τύπος:</label>
                  <p id="type_request_detail"></p>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Περιγραφή:</label>
                  <p id="description_request_detail"></p>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Έναρξης:</label>
                  <p id="start_request_detail"></p>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Λήξης:</label>
                  <p id="end_request_detail"></p>
                </div>
              </div>
              <div class="modal-footer">
                <button id="delete-request-button" data-request-id="" class="btn btn-danger">Διαγραφή</button>
                <button id="edit-request-button" data-request-id="" class="btn btn-primary">Επεξεργασία</button>
                <button id="save-request-button" data-request-id="" class="btn btn-primary">Αποθήκευση</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">  
    <div id="calendar"></div>
</div> 
  
<script>
  $(document).ready(function () {
    var calendar = $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        events: "/vacayvue/all_requests/",
        selectable: true,
        selectHelper: true,
        editable: true,
        
        select: function(start, end) {
            console.log("Selecting dates...");
            $('#requestModal').modal('show');
            $('#id_start').val(start.format('YYYY-MM-DD'));
            $('#id_end').val(end.format('YYYY-MM-DD'));
            calendar.fullCalendar('unselect');
        },
        eventClick: function(request) {
            console.log("Clicked event:", request);
            var modal = $('#detailModal');
            modal.find('#type_request_detail').text(request.type);
            modal.find('#start_request_detail').text(moment(request.start).format('YYYY-MM-DD'));
            modal.find('#end_request_detail').text(moment(request.end).format('YYYY-MM-DD'));
            modal.find('#description_request_detail').text(request.description || '');
            modal.find('#delete-request-button').attr('data-request-id', request.id);
            modal.modal('show'); 
        },
    });

    $('.submitRequestForm').click(function() {
      console.log("Submitting request form...");
      var formData = $(this).closest('form').serialize();
      
      $.ajax({
          url: "/vacayvue/add_request/",
          type: 'POST', 
          data: formData,
          dataType: 'json',
          success: function (response) {
              console.log("Form submission response:", response);
              if (response.success) {
                  $('#requestModal').modal('hide');
                  window.location.reload();
              } else {
                  console.log(response.errors);
              }
          },
          error: function (xhr, status, error) {
              console.error("Error submitting form:", xhr.responseText);
              if (xhr.status === 404) {
                  alert('The request does not exist.');
              } else {
                  alert('There was an error processing your request.');
              }
          }
      });
  });
  
    $('.modalClose').click(function() {
        console.log("Closing modal...");
        $(this).closest('.modal').modal('hide');
    });

    $('#delete-request-button').click(function() {
        console.log("Deleting request...");
        var requestId = $(this).attr('data-request-id');
        if (confirm("Are you sure you want to remove it?")) {
            $.ajax({
                url: "/vacayvue/remove/",
                type: 'POST',
                data: {
                    id: requestId, 
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response) {
                    console.log("Delete request response:", response);
                    if (response.success) {
                        $('#detailModal').modal('hide');
                        window.location.reload();
                    } else {
                        alert('Η διαγραφή αντιμετωπίζει πρόβλημα!');
                        console.log(response.errors);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error deleting request:", xhr.responseText);
                    alert('Η διαγραφή αντιμετωπίζει πρόβλημα!');
                }
            });
        }
    });
});

</script>
{% endblock %}
