{% extends 'vacayvue/base.html' %}

{% block title %}Fullcalendar{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="tile row">
      <div class="modal fade show" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title text-white" id="exampleModalLongTitle">Προσθήκη Αιτήματος</h5>
              <button class="close modalClose" data-target="#requestModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" >
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Τύπος Άδειας:</label>
                  {{ form.type }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Έναρξης:</label>
                  {{ form.start }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Λήξης:</label>
                  {{ form.end }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Περιγραφή:</label>
                  {{ form.description }}
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger modalClose">Κλείσιμο</button>
                <button type="submit" class="btn btn-primary submitRequestForm">Υποβολή</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal fade show" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              
              <h5 class="modal-title text-white" id="title_request_detail">Πληροφορίες Αιτήματος</h5>
              <button class="close modalClose" data-target="#detailModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Τύπος:</label>
                  <p id="type_request_detail"></p>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Περιγραφή:</label>
                  <p id="description_request_detail"></p>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Έναρξης:</label>
                  <p id="start_request_detail"></p>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Ημερομηνία Λήξης:</label>
                  <p id="end_request_detail"></p>
                </div>
              </div>
              <div class="modal-footer">
                <button id="delete-request-button" data-request-id="" class="btn btn-danger">Διαγραφή</button>
            
            



            </div>
            
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">  
    <div id="calendar"></div>
</div> 
  

{% endblock %}