{% load static %}

<!-- Employee navbar -->
{% if request.user.is_authenticated %}
    {% if request.user.user_type == 'employee' %}
        <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="container-fluid">
                <!-- Dashboard -->
                <a class="nav-link active" href="{% url 'employee_home' %}">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <!-- View Request -->
                <a class="nav-link" href="{% url 'self-requests' %}">
                    <i class="fas fa-list"></i> Οι Αιτήσεις Μου
                </a>               
    
                 <!-- Add Request -->
                 <a class="nav-link" href="{% url 'add_request' %}">
                    <i class="fas fa-calendar-plus"></i> Προσθήκη Αίτησης
                </a>
 
            </div>
        </div>
    {% endif %}
{% endif %}

<!-- Company navbar -->
{% if request.user.is_authenticated %}
    {% if request.user.user_type == 'company' %}
        <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="container-fluid">
                <!-- Dashboard -->
                <a class="nav-link active" href="{% url 'company_home' %}">
                    <i class="fas fa-home"></i> Dashboard
                </a>
                <!-- View Request -->
                <a class="nav-link" href="{% url 'list_all_requests' %}">
                    <i class="fas fa-list"></i> Προβολή Αιτήσεων
                </a>
                
                <!-- Add Employee -->
                <a class="nav-link" href="{% url 'register_employee' %}">
                    <i class="fas fa-user-plus"></i> Προσθήκη Υπαλλήλου
                </a>
                <!-- View Employee-->
                <a class="nav-link" href="{% url 'list-employees' %}">
                    <i class="fas fa-users"></i> Προβολή Υπαλλήλων
                </a>
                <!-- Balance -->
                <a class="nav-link" href="{% url 'manage_leave_type' %}">
                    <i class="fas fa-balance-scale"></i> Υπόλοιπο
                </a>
                
            </div>
        </div>
    {% endif %}
{% endif %}
{% block script%}
<script src="{% static 'js/activenav.js' %}"></script>
{% endblock  %}